
.button, .toggle-button {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-font-family: "Comic Sans MS";
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.scroll-pane > .viewport {
    -fx-background-color: #ffdd99;
}
#scroll-pane1 > .viewport {
    -fx-background-color: #a9a9a9;
}
/* Pane in der GuiAddFoto !muss wie default sein! */
#scroll-pane2 > .viewport {
    -fx-background-color: #ffdd99; 
}
.button:hover {
    -fx-background-color: #3d3d3d;
    -fx-text-fill: white;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

/*Allgemeiner Style der GUI*/
.mainFxmlClass {
    -fx-background-color: #ffd090;
    -fx-font-family: "Comic Sans MS";
    -fx-box-border: #ffb050;
    -fx-inner-border: #ffdd99;
    -fx-inner-border-horizontal: #ffdd99;
}

/*Titel der MainGUI*/
.mainTitle {
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #990000;
    -fx-font-weight: bold;
}

.buttonFotos {
    -fx-graphic: url("../src/Button-Fotos.png");
}

.buttonAlben {
    -fx-graphic: url("../src/Button-Alben.png");
}

.buttonDia {
    -fx-graphic: url("../src/Button-Dia.png");
}

/*Panels mit hellerem Hintergrund*/
.editPane {
    -fx-background-color: #ffdd99;
    -fx-border-color: #ffb050;
}

/*Dunklere Umrandung der Panels*/
.paneBorder {
    -fx-border-color: #ffb050;
}

/*Hintergrundfarbe für die Textfelder*/
.textFeld {
    -fx-background-color: #ffeeaa;
    -fx-border-color: #ffb050;
}

.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
/* Hintergrund EXIF Daten */
#text-area1 .scroll-pane .viewport{
    -fx-background-color: #ffeeaa;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
/*Scrollbar ausblenden*/
.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}